form {
    width: 300px;
    height: 250px;
    background-color: aliceblue;
    padding: 30px;
    border: grey;
    border-radius: 10px;
}
h2 {
    text-align: center;
}
.box{
    width: 250px ;
    height: 20px;
    border-radius: 8px;
    display: block;
}
#sign {
   
    margin: 5px 20px 0 10px;
    text-align: center;
    background-attachment: rgb(69, 69, 77);
    width: 240px;
}